# Built files
ennuizel-player.js
ennuizel-craig.js
ennuizel.js
localforage.min.js
sw.js

# Legacy
./libav/
fa/

# Other
.idea/
.vscode/
node_modules
package-lock.json
.*.swp
libav.tmp.zip
*.tmp
*.log
